* {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
  }
  
  .img_cart {
    grid-column: 5 / 6;
    grid-row: 1 / 1;
  }
  
  #img_c {
    max-width: 10%;
    max-height: auto;
    margin-left: 50%;
    margin-top: 7%;
  }
  
  .products {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  h5 {
    font-family: 'Roboto', sans-serif;
  }
  
  .skateboard {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .img_skateboard {
    max-width: 100%;
    max-height: auto;
  }
  
  .wheels {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  
  .img_wheels {
    max-width: 100%;
    max-height: auto;
  }
  
  .helmet {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .img_helmet {
    max-width: 100%;
    max-height: auto;
  }
  
  .kneepads {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
  
  .img_kneepads {
    max-width: 100%;
    max-height: auto;
  }
  
  .img_arrow {
    grid-column: 1 / 2 ;
    grid-row: 1 / 1;
  }
  
  #img_a {
    max-width: 10%;
    max-height: auto;
    margin-left: 45%;
    margin-top: 13%;
  }
  
  .title_cart {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }